body{
    background-color: lightseagreen;
}

#formulario{

    background-color: rgb(218, 247, 218);
    width: 300px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 25px;
    border-radius: 7px;
    margin-left: 45%;
    border-width: 3px;
}

.email{
    /*border-radius: 5px;*/
    height: 20px;
    border-width: 1px;
    
}

#boton{
    border-radius: 10px;
    width: 173px;
    height: 30px;
    background-color: lightgreen;
}

#fecha{
    width: 160px;
}

h1{
    color: #c72e2e;
}
